{% extends 'base/base.html' %}
{% load static %}
{% block meta %}
<meta name="description" content="Tomasteawita es un blog de tecnología, donde se publican artículos sobre programación, desarrollo web, desarrollo móvil, diseño web, diseño gráfico, marketing digital, SEO, SEM, SMM, y mucho más.">
<meta name="keywords" content="tomasteawita, blog, tecnología, programación, desarrollo web, desarrollo móvil, diseño web, diseño gráfico, marketing digital, SEO, SEM, SMM">
<meta name="author" content="Tomasteawita">
<meta property="og:title" content="Tomasteawita | blog">
<meta property="og:description" content="Tomasteawita es un blog de tecnología, donde se publican artículos sobre programación, desarrollo web, desarrollo móvil, diseño web, diseño gráfico, marketing digital, SEO, SEM, SMM, y mucho más.">
<meta property="og:image" content="{% static 'img/logo.png' %}">
<meta property="og:url" content="https://tomasteawita.com">
<meta property="og:site_name" content="Tomasteawita">
<meta property="og:locale" content="es_ES">
<meta property="og:type" content="website">
<meta property="og:locale:alternate" content="en_US">
<meta property="og:locale:alternate" content="es_ES">
<meta property="og:locale:alternate" content="es_LA">
{% endblock meta %}
{% block title %}Tomasteawita | blog{% endblock title %}
{% block main %}
<main>
    <section class="image-background">
        <img src="{% static 'images/FOROPERFIL.jpeg' %}" alt="Tomasteawita">
        <div></div>
    </section>
    <section class="search">
        <form method="GET">
            <input type="text" name="search" placeholder="Buscar...">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
    </section>
</main>
{% endblock main %}