<header>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicio</a></li>
            <li><a href="#contact">Contacto</a></li>
            <li><a href="#">Acerca de mi</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'CreatePost' %}">Create Post</a></li>
            {% endif %}
        </ul>
        <button id="open-button"><i class="bi bi-list"></i></button>
        <div id="offcanvas">
            <ul>
                <li class="close-canvas"><button id="close-button"><i class="bi bi-x-lg"></i></button></li>
                <li><a href="{% url 'Index' %}">Inicio</a></li>
                <li><a href="#">Servicio</a> </li>
                <li><a href="#contact">Contacto</a></li>
                <li><a href="#">Acerca de mi</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'CreatePost' %}">Create Post</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
</header>