<header>
    <nav>
        <div id="logo">
            <img src="" alt="">
            <!-- <img src="./images/logo.png" alt="tomasteawita"> -->
            <span>Tomasteawita</span>
        </div>
        <button id="open-button"></button>
        <div id="offcanvas">
            <ul>
                <li class="close-canvas"><button id="close-button"><i class="bi bi-x-lg"></i></button></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a> </li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </nav>
</header>