@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin transition-all {
  transition: all .3s;
}

@mixin hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

@mixin large-screens {
  @media only screen and (min-width:1025px) {
    @content;
  }
}

header {
  display: block;
  background: $white;
  height: 64px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  @media only screen and (max-width:600px) {
    height: 58px;
  }
  nav {
    @include flex-space-between;
    flex-direction: row;
    margin: auto 32px;
    @media only screen and (max-width:600px) {
      margin-top: 6px;
    }
    

    .links {
      @include flex-center;
      flex-direction: row;

      >a {
        img {
          width: 42px;
        }
      }

      >ul {
        @include flex-center;
        flex-direction: row;
        height: 100%;
        list-style-type: none;

        li {
          margin: 0px 12px;
          height: 32px;
          @include transition-all;
          border-radius: 8px;
          padding: 2px 4px;

          a {
            position: relative;
            top: 28%;
            left: 0px;
            @include transition-all;
            color: $black;
            @include hover-underline;
          }
        }

        @media only screen and (max-width:600px) {
          display: none;
        }
      }
    }

    >button {
      border-radius: 8px;
      background-color: transparent;
      border: 2px solid $black;
      cursor: pointer;
      height: 32px;
      font-size: 24px;
      color: $black;
      @include flex-center;
      padding: 2px 4px 0px 4px;
      @include transition-all;

      &:hover {
        background-color: $white-silver;
        color: $black;
      }
    }

    @include large-screens {
      height: 64px;
      nav {
        height: 64px;
        >button {
          margin-right: 42px;
          height: 42px;
          width: 42px;
          font-size: 32px;
        }
        >ul {
          li {
            height: 48px;
            a {
              top: 32%;
            }
          }
        }
      }
    }
  }
}

#offcanvas{
  position: fixed;
  top: 0;
  right: -300px; // La posición inicial fuera de la pantalla
  width: 300px;
  height: 100vh;
  background-color: $white;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  ul {
    list-style: none;
    padding: 20px;
    li {
      margin-bottom: 15px;
      font-size: 18px;
      &:first-child{
        position: relative;
        top: -15px;
        button{
          border: none;
          background-color: transparent;
          font-size: 20px;
          cursor: pointer;
          margin-top: 32px;
          color: $black;
        }
      }
      a{
        color: $black;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}