.search{
    form:last-child{
        button.tag_search{
            display: inline-block;
            background-color: $violet;
            height: 24px;
            border-radius: 32px;
            box-shadow: 1px 1px 2px 0px rgba(249, 249, 249, 0.25);
            border: none;
            padding: 4px 12px;
            color: $white;
            cursor: pointer;
            span{
                text-align: start;
                display: inline-block;
                width: max-content;
            }
        }
    }
}