<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Post</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main class="cards-transition">
        <form method="post">
            {% csrf_token %}
            <h5>Eliminar <span>{{post}}</span></h5>
            <div class="options-buttons">
                <a href="{% url 'Index' %}"><span>Cancelar</span></a>
                <button type="submit"><span>Eliminar</span></button>
            </div>
        </form>
    </main>
</body>
</html>