{% extends 'base/base.html' %}
{% load static %}
{% block main %}
title
{% block 'title' %}{{post.title}}{% endblock 'title' %}
<main class="detailPost">
    <section class="image-background read_post">
        <img src="{{post.image.url}}" alt="Tomasteawita">
        <div></div>
    </section>
    <section class="navigation">
        <div><h2>Post: <span>{{post.date}}</span></h2></div>
        <nav>
            <a href="{% url 'Index' %}">Inicio</a><span>/</span><a href="#">Post</a>
        </nav>
    </section>
    <section class="postContent">
        <div>
            <h1>{{post.title}}</h1>
            <p>{{post.description}}</p>
            <span>By: Tomas Cueva</span>
        </div>
        <hr>
        <article>
            {{post.body|safe}}
        </article>
    </section>
</main>
{% endblock main %}