.search{
    form:last-child{
        button.tag_search{
            display: inline-block;
            background-color: $white-silver;
            height: 24px;
            border-radius: 32px;
            // box-shadow: $box-shadow;
            border: 1px solid darken($white-silver, 15%);
            padding: 4px 12px;
            color: $black;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            span{
                text-align: start;
                display: inline-block;
                width: max-content;
            }
            &:hover{
                background-color: $pink;
                box-shadow: $box-shadow;
            }
            &:active{
                background-color: $white-silver;
            }
            @media only screen and (min-width: 1025px){
                margin-top: 8px;
                height: 32px;
            }
        }
    }
}