{% load static %}
<section class="posts">
    {% for post in posts %}
        <article class="card">
            <img src="{{post.image.url}}" alt="">
            <div class="body-card">
                <strong>{{post.title}}</strong>
                <p>{{post.description}}</p>
            </div>
            {% if user.is_authenticated %}
                <div class="all_options">
                    <a href="{% url 'DetailPost' post.id %}"><span>Leer más</span></a>
                    <a href="{% url 'EditPost' post.id %}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'DeletePost' post.id %}"><i class="bi bi-trash3-fill"></i></a>
                </div>
            {% else %}
                <div class="view">
                    <a href="{% url 'DetailPost' post.id %}"><span>Leer más</span></a>
                </div>
            {% endif %}
            <div class="date">
                <i class="bi bi-calendar"></i>
                <span>{{post.date}}</span>
            </div>
        </article>
    {% endfor %}
</section>