{% load static %}
<section class="posts">
    <article>
        <div class="post-image">
            <img src="{% static 'images/IndexUNLPImage.JPG' %}" alt="">
        </div>        
        <strong>Titulo</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        <div class="all_options">
            <a href=""><span>Leer más</span></a>
            <a href=""><i class="bi bi-pencil-square"></i></a>
            <a href=""><i class="bi bi-trash3-fill"></i></a>
        </div>
    </article>
</section>