section.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        min-width: 286px;
        max-width: 300px;
        min-height: 460px;
        border-radius: 12px;
        border: 1px solid darken($white-silver, 15%);
        color: $black;
        margin: 42px auto;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.05) translate(0px, -8px); /* Puedes ajustar el valor para cambiar la escala */
            box-shadow:$box-shadow;
          }
          img{
            width: 100%;
            height: 180px;
            object-fit: cover;
            position: relative;
            top: 0px;
            left: 0px;
            border-radius: 12px 12px 0px 0px;
        }
        div.body-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            strong{
                margin: 12px 16px 16px 24px;
                text-align: start;
            }
            
            p{
                text-align: start;
                margin: 0px 21px;
                font-size: 0.8rem;
            }
        }
        div.date{
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: center;
            margin: 0px auto 16px 21px;
            span{
                margin: 0px 8px;
            }
            span,i{
                font-size: 11px;
                color: darken($white-silver, 25%);
            }
        }
        div:not(.body-card, .date){
            display: grid;
            width: 100%;
            &.all_options{
                grid-template-columns: 1fr 1fr;
                grid-row: 1fr 1fr;
                grid-template-areas: 
                "view view"
                "edit delete";
                gap: 8px;
                justify-items: center;
                a:first-child{
                    grid-area: view;
                }
                a:nth-child(2){
                    grid-area: edit;
                    background-color: $pink;
                    margin-right: 4px;
                }
                a:last-child{
                    grid-area: delete;
                    background-color: $red;
                    margin-left: 4px;
                }
                a:nth-child(2),a:last-child{
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    padding: 8px;
                    transition: all 0.8s ease-in-out;
                    i{
                        font-size: 16px;
                    }
                }
            }
            &.view{
                place-content: center;
            }
            a{
                display: grid;
                place-content: center;
                margin: 12px auto;
            }
            a:first-child{
                border-radius: 32px;
                background: $pink;
                padding: 8px 16px;
                width: 155px;
                height: 32px;
                &:hover{
                    background: darken($pink, 15%);
                }
                &:active{
                    background: $violet;
                    color: $white;
                }

            }
        }
    }
    @media only screen and (min-width:834px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        article{
            margin: 42px 72px;
        }
    }
}