@import 'vars/vars';
@import 'base/header';
@import 'base/footer';
@import 'main/image-background';
@import 'main/search/search';
@import 'main/search/buttons';
@import 'main/indexPosts';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: $background
}

section{
    margin-bottom: 72px;
}