@import 'vars/vars';
@import 'base/header';
@import 'base/footer';
@import 'main/image-background';
@import 'main/search/search';
@import 'main/search/buttons';
@import 'main/search/formButtons';
@import 'main/indexPosts';
@import 'main/crud_post/_cu_post';
@import 'main/crud_post/_r_post';
@import 'main/navigation';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: $background
}

section:not(.image-background.read_post){
    margin-bottom: 24px;
}